<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Page.Name}}</title>
    <meta name="description" content="{{.Page.Description}}">

</head>

<body>
    <h1>{{.Page.Name}}</h1>

    {{range .Users}}
    <p>
        <strong>{{.ID}} - {{.FirstName}} {{.LastName}}</strong> by {{.UserName}}
        <br>
        <p>Profil : <a href="{{.Profile}}" target="_blank">{{.UserName}}</a></p>
        {{range .Interest}}
        <ul>
            <li>{{.ID}}- {{.Name}}</li>
        </ul>
        {{end}}
    </p>
    {{end}}
</body>

</html>